
<h1>Buildit</h1>

<div class="articles">
<% @articles.each do |article| %>
  <h2>
    <%= link_to article.title %>
  </h2>
  <P><%= article.name %></p>
  <%= image_tag(article.photo) %>
<% end %>

</div>
