@import "bootstrap-sprockets";
@import "bootstrap";

img{
width:50px;
float:left;
margin:30px;
}

h3 {
  margin:0;
}


.content {
  border-style: solid;
  border-color: #5CA4D7;
  margin: 50px;
  padding:-10px;
}
